* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "IPHONE-6S IPHONE-6S LEARN-MORE LEARN-MORE"
        "Our-Brand-New-Keyboard IMAC-RETINA DOWNLOAD-NOW iCloud"
        "Games-ourpasion Experience Experience iCloud"
        "Twitter Much-MuchBetter-Experience vision vision";
}

.center {
    text-align: center;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url('../webfonts/Montserrat-Thin.woff') format('woff'),
        url('../webfonts/Montserrat-VariableFont_wght.ttf') format('truetype'),
        url('../webfonts/Montserrat-Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'Arvo';
    src: url('../webfonts/Arvo.woff') format('woff'),
        url('../webfonts/Arvo-Regular.ttf') format('truetype'),
        url('../webfonts/Arvo.woff2') format('woff2');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../webfonts/OpenSans-Regular.woff') format('woff'),
        url('../webfonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype'),
        url('../webfonts/OpenSans-Regular.woff2') format('woff2');
}

.container {
    width: 60%;
    margin: auto;
}

/* ========================================== */

/* IPHONE-6S */
/* #region  */
.IPHONE-6S {
    grid-area: IPHONE-6S;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 2rem;
}

.IPHONE-6S .img {
    width: 35%;
}

.IPHONE-6S .img img {
    width: 100%;
}


.IPHONE-6S .content span {
    padding-inline: 20px;
    font-family: 'Montserrat-Thin';
    font-weight: 700;
    color: #9FA3A7;
    display: block;
    padding-bottom: 1rem;
    line-height: 2rem;
}

.IPHONE-6S .content>span {
    padding-inline: 20px;
    font-family: 'Montserrat-Thin';
    font-weight: 700;
    color: #9FA3A7;
    display: block;
    padding-bottom: 1rem;
}

.IPHONE-6S .content h2 {
    padding-inline: 1.3rem;
    font-family: 'Arvo';
    font-size: 1.5rem;
    color: #333333;
    display: block;
    padding-bottom: 1.5rem;
    line-height: 2.5rem;
}

/* #endregion */

/* ========================================== */

/* LEARN-MORE */
/* #region  */
.LEARN-MORE {
    grid-area: LEARN-MORE;
    background-color: #F7F8F9;
    padding: 4rem 2rem;
}

.LEARN-MORE>span {
    padding-inline: 20px;
    font-family: 'Montserrat-Thin';
    font-weight: 700;
    color: #9FA3A7;
    display: block;
    padding-bottom: 1.5rem;
}

.LEARN-MORE h1 {
    padding-inline: 1.5rem;
    font-size: 3rem;
    line-height: 4rem;
    font-family: 'Arvo';
    font-weight: 700;
    color: #333333;
    padding-bottom: 1rem;
}

.LEARN-MORE a {
    text-decoration: underline;
    font-family: 'OpenSans';
    color: #27B9C2;

}

/* #endregion */

/* ========================================== */
/* Our-Brand-New-Keyboard */
/* #region  */
.Our-Brand-New-Keyboard {
    grid-area: Our-Brand-New-Keyboard;
    background-color: #F05638;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Our-Brand-New-Keyboard .img {
    width: 80%;
}

.Our-Brand-New-Keyboard .img img {
    width: 100%;
}

.Our-Brand-New-Keyboard .content h2 {
    width: 100%;
    font-family: 'Arvo';
    font-weight: 700;
    color: white;
    margin-bottom: 2rem;
    line-height: 2rem;
}

.Our-Brand-New-Keyboard .content a {
    display: block;
    color: #FFC80A;
    font-family: 'OpenSans';
    font-size: .75rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

/* #endregion */

/* ========================================== */
/* IMAC-RETINA */
/* #region  */
.IMAC-RETINA {
    grid-area: IMAC-RETINA;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.IMAC-RETINA .content {
    transform: translateX(10%);
    overflow: hidden;
}

.IMAC-RETINA .content span {
    display: block;
    font-family: 'Montserrat-Thin';
    font-size: .75rem;
    font-weight: 700;
    color: #333333;
    margin-bottom: 1rem;
    line-height: 1.5rem;
}

.IMAC-RETINA .content h3 {
    font-family: 'Arvo';
    font-size: 1.5rem;
    font-weight: 400;
    color: #333333;
    margin-bottom: 2rem;
    line-height: 2rem;
}

.IMAC-RETINA .img {
    width: 180%;
}

.IMAC-RETINA .img img {
    width: 100%;
    transform: translate(-55%, 40%);
}

/* #endregion */

/* ========================================== */
/* DOWNLOAD-NOW */
/* #region  */
.DOWNLOAD-NOW {
    grid-area: DOWNLOAD-NOW;
    background-color: #FFFFFF;
    padding: 5rem 2rem;
}

.DOWNLOAD-NOW p {
    width: 90%;
    color: #9FA3A7;
    line-height: 2rem;
    padding-bottom: 1rem;
    font-family: 'OpenSans';
    font-size: 1rem;
}

.DOWNLOAD-NOW a {
    color: #27B9C2;
    font-size: 1rem;
    font-family: 'OpenSans';
    font-weight: 600;
}

/* #endregion */

/* ========================================== */
/* iCloud */
/* #region  */
.iCloud {
    grid-area: iCloud;
    background-color: #8F76BC;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.iCloud .img {
    width: 100%;
    background-color: #8166B0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.iCloud .img img {
    width: 60%;
}

.iCloud .img .ss {
    color: white;
    background-color: #8B72B6;
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-family: 'OpenSans';
    font-size: .7rem;
    font-weight: 700;
    margin-block: 1.5rem;
}

.iCloud .img span {
    color: white;
    padding: .5rem 1rem;
    border-radius: 1rem;
    font-family: 'OpenSans';
    font-size: .75rem;
    font-weight: 700;
    margin-bottom: 1.5rem;

}

.iCloud .img i {
    color: yellow;
}

.iCloud .content .container {
    width: 80%;
    margin: auto;
}

.iCloud .content h2 {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Arvo';
    line-height: 2.5rem;
    margin-block: 1.5rem 1rem;
}

.iCloud .content p {
    color: white;
    font-size: .9rem;
    font-family: 'OpenSans';
    line-height: 2rem;
    margin-bottom: 2rem;
}

.iCloud .content a {
    color: #000000;
    font-family: 'OpenSans';
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: #FFC80A;
    border-radius: 3rem;
}

/* #endregion */
/* ========================================== */
/* Experience */
/* #region  */
.Experience {
    grid-area: Experience;
    background-color: #93B6B7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Experience>span {
    display: block;
    padding: 4px 15px;
    border-radius: 7px;
    background-color: tomato;
    color: white;
    font-size: .5rem;
    font-weight: 600;
    font-family: 'OpenSans';
    align-self: self-start;
    transform: translate(30%, -50%);
}

.Experience p {
    font-family: 'Arvo';
    font-size: 1.4rem;
    font-weight: 700;
    color: white;
    line-height: 2.5rem;
}

.Experience .img {
    width: 100%;
}

.Experience .img img {
    width: 100%;
    transform: translate(-10%, 11%);
}

/* #endregion */

/* ========================================== */
/* Games-ourpasion */
/* #region  */
.Games-ourpasion {
    grid-area: Games-ourpasion;
    background-color: #F7F8F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Games-ourpasion .img {
    width: 200px;
}

.Games-ourpasion .img img {
    width: 100%;
}

.Games-ourpasion .content h3 {
    width: 100%;
    font-family: 'Arvo';
    font-weight: 400;
    color: #333333;
    margin-bottom: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
}

.Games-ourpasion .content a {
    display: block;
    color: #27B9C2;
    font-family: 'OpenSans';
    font-size: .75rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

/* #endregion */

/* ========================================== */

/* Twitter */
/* #region  */
.Twitter {
    grid-area: Twitter;
    background-color: #38D5F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Twitter .ss {
    display: flex;
    background-color: #35CFED;
    border-radius: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.Twitter .img {
    width: 50px;
}

.Twitter .img img {
    width: 100%;
    margin-bottom: 1rem;
}

.Twitter p {
    font-family: 'Arvo';
    color: white;
    font-size: 1.4rem;
}

/* #endregion */

/* ========================================== */

/* Much-MuchBetter-Experience */
/* #region  */
.Much-MuchBetter-Experience {
    grid-area: Much-MuchBetter-Experience;
    background-color: #F7F8F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Much-MuchBetter-Experience span {
    font-family: 'OpenSans';
    font-size: .5rem;
    font-weight: 700;
    padding: .25rem .5rem;
    border-radius: .25rem;
    color: white;
    background-color: #7BC424;
    margin-bottom: 1rem;
}

.Much-MuchBetter-Experience p {
    font-family: 'Arvo';
    font-size: 1.4rem;
    color: black;
    line-height: 2rem;
}


/* #endregion */

/* ========================================== */
/* vision */
/* #region  */
.vision {
    grid-area: vision;
    background-color: #2C2C2C;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.vision .img {
    width: 40%;
}

.vision .img img {
    width: 100%;
}

.vision .content p {
    color: white;
    font-family: 'Arvo';
    font-size: 1.4rem;
    line-height: 2rem;
}

/* #endregion */